#image-track {
  display: flex;
  gap: 4vmin;
  position: relative;
  left: 50%;
  transform: translate(0%, 0%);
  user-select: none;
  z-index: 3;
  /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 30vmin;
  height: 44vmin;
  object-fit: cover;
  object-position: 100% center;
}
